.app {
  display: flex;
}

.page {
  // width: 95%;
  // height: 100%;
  position: absolute;
  // display: flex;
  // // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.top-tags {
  // bottom: auto;
  // top: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-start;

  margin-top: 5px;
  margin-left: 5px;
  height: 60px;
}

.tags {
  color: #ffd700;
  opacity: 0.6;
  // position: absolute;
  // bottom: 0;
  // left: 10%;
  font-size: 1.5em;
  font-family: "La Belle Aurore";
  // margin-left: -3%;
}
.top-tag-html {
  // margin-left: -40%;
}
.top-tag-body {
  margin-top: 30px;
  margin-left: -20px;
}

.bottom-tag-html {
  // margin-top: 20px;
}
.bottom-tag-body {
  margin-left: -20px;
  margin-bottom: 20px;

}
.bottom-tags {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  margin-left: 5px;
  height: 60px;
}

.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  opacity: 0;

  animation: fadeIn 1s forwards;
  animation-delay: 1s;

  display: flex;
  // flex-direction: column;
  
  // justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.about-page,
.contact-page,
.projects-page{

  margin-left: 5%;
  
  .text-zone {
    max-width: 85%;
    overflow-y: scroll;
    max-height: 90%;

    h1 {
      font-size: 52px;
      font-family: "Coolvetica";
      color: #ffd700;
      font-weight: 400;
      margin-left: 15px;
      position: relative;
      margin-bottom: 40px;
      letter-spacing: 2px;

      &::before {
        content: "<h1>";
        font-family: "La Belle Aurore";
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        // margin-bottom: 115px;
        left: -15px;
        opacity: 0.6;
      }

      &::after {
        content: "</h1>";
        font-family: "La Belle Aurore";
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: 60px;
        left: -15px;
        opacity: 0.6;
      }
    }

    h2 {
      color: #8d8d8d;
      margin-top: 20px;
      font-weight: 400;
      font-size: 15px;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
      color: #ffd700;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: sans-serif;
      text-decoration: none;
      padding: 10px 18px;
      border: 1px solid #ffd700;
      margin-top: 25px;
      float: left;
      animation: fadeIn 1s 1.8s backwards;
      white-space: nowrap;

      &:hover {
        background-color: #ffd700;
        color: #333;
      }
    }

    p {
      font-size: 18px;
      color: #fff;
      font-family: sans-serif;
      font-weight: 300;
      width: 80%;
      letter-spacing: 2px;
    }
  }
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #001724;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: #0e0e0e;
  border-radius: 100vw;
  border: 2px solid rgb(76, 76, 76);
}

#projects-header {
  color: #fff;
}
